{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": [
      2, { "ignore": ["theme", "children", "className", "ref", "forwardedRef"] }
    ],
    "react/display-name": 0,
    "react/no-unescaped-entities": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
